*{
    box-sizing: border-box; 
    
}
body{
    margin: 0;

}
img{
    vertical-align: middle;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .header{ width: 1920px;
    background-image: url(../images/header-bg.png); margin: 0 auto;
  }
  .container{
    width: 1920px; 
    padding: 60px 100px ;
  }
  .links-box{
    display: flex; list-style: none; align-items: center;
    padding: 0%;
  }
  .links-list{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.02em;
color: #252641;
  }
.header-link{
    text-decoration: none; margin-left: 80px;
}
.link-list1{
    flex-grow: 1;
}
.links-list2{
    margin-left: 32px;
}
